:root {
  --social-medial-title-color: #172f59;
  --display-font: 'Montserrat', sans-serif;
}

html,
body {
  font-size: 62.5%;
  font-family: var(--display-font);
}
body{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.header {
  background: url(./img/bg-header.png);
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.logo {
  height: 70px;
  width: auto;
}
.navbar {
  padding-top: 3rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.8rem;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  border: 2px solid transparent;
  transition: 0.25s linear;
  padding: 0.5em 1em;
}

.navbar-dark .navbar-nav .nav-link:not(first-child) {
  margin-left: 5.6rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  border: 2px solid lime;
  border-radius: 8.5rem;
}

/* ********************
    Hero Section
==================== */

.hero {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.hero__title {
  font-family: 'Roboto Slab', serif;
  color: #fff;
}

.hero__title--underline {
  height: 2px;
  width: 30px;
  background: #fff;
  margin: 15px 0;
}

.hero__content {
  width: 35%;
  font-size: 2rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.hero-btn-group {
  margin-top: 2rem;
}
.btn {
  padding: 1rem 1.5rem;
  color: #182f59;
  font-size: 1.5rem;
  border-radius: 50px;
  font-family: 'Montserrat';
}
.hero-btn {
  background: #fff;
}

.hero-btn:not(last-child) {
  margin-right: 2rem;
}

/* ********************
    Carousel Section
==================== */
.carousel-bg {
  background: #3f8b1b !important;
}
.carousel-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: 'Montserrat';
}

.carousel-right {
  margin-left: 4.6rem;
}

.carousel-desc {
  font-size: 1.8rem;
}
.carousel-profession {
  padding-bottom: 5rem;
}
.carousel-name {
  font-weight: 500;
  font-size: 2rem;
}

.carousel-title {
  font-weight: 300;
  font-size: 1.7rem;
}
.carousel-img {
  width: 40%;
  height: auto;
}
.carousel-indicators {
  margin-right: 0;
  left: 55vw;
}
.carousel-indicators li {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 100%;
}
/* ******************************
    Areas of social media Section
=================================== */
.section-heading {
  padding-bottom: 5rem;
  position: relative;
}
.section-heading__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #190f4c;
  font-family: var(--display-font);
  margin-left: 2rem;
  padding-bottom: 2rem;
}
.section-heading__title::before {
  position: absolute;
  content: '';
  display: inline-block;
  height: 4rem;
  left: 0;
  width: 0.5rem;
  background: #3f8b1b;
}
.section-heading__pra {
  font-size: 1.5rem;
  color: var(--social-medial-title-color);
}
.social-media__icon {
  width: 20%;
  height: auto;
  padding-bottom: 2rem;
}
.social-media__title {
  font-size: 2rem;
  color: var(--social-medial-title-color);
  padding-bottom: 1rem;
  font-family: var(--display-font);
}
.social-media__pra {
  font-size: 1.5rem;
}
.social-media__right--img {
  max-width: 100%;
  height: auto;
  margin-top: -5rem;
}

/* ********************
Card Section
========================
*/
.card {
  border: none;
  box-shadow: 3px -1px 2px 0px #494949;
  position: relative;
  margin-bottom: 8rem;
  /* margin-right: 4rem; */
}

.card::before {
  content: '';
  position: absolute;
  width: 14.3rem;
  height: 66%;
  top: 25rem;
  left: -3.4rem;
  z-index: -1;
  background: #3f8b1b;
}
.card-blue__before::before {
  background: var(--social-medial-title-color);
}
.card:not(first-child) {
  margin-left: 4rem;
}
.card-plans {
  margin-bottom: 1rem;
}
.card-title {
  padding-top: 3rem;
  padding-bottom: 4rem;
  font-size: 4rem;
}
.card-plans img {
  width: 8%;
}
.card-plan__close--icon {
  width: 6% !important;
  margin-left: -3rem;
}
.card-plan__text {
  font-size: 1.6rem;
  margin-left: 1.5rem;
  margin-top: 1.4rem;
}
.card-plan__price {
  font-size: 4rem;
  font-weight: bold;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}
.card-plan__type {
  font-size: 1.5rem;
  color: grey;
  padding-bottom: 0.5rem;
}
.card-plan__btn,
.card-plan__btn--blue {
  text-transform: uppercase;
  background: #3f8b1b;
  color: white;
  border-radius: 0.3em;
  padding: 1rem 4rem;
  margin-bottom: 2rem;
}
.card-plan__btn--blue {
  background: var(--social-medial-title-color);
}
.card-plan__btn:hover {
  color: white;
}
.card-plan__btn--blue:hover {
  color: white;
}
/************************
 Section Jumbotron
======================= */

.section-jumbotron {
  background-color: var(--social-medial-title-color);
  padding: 5rem 0;
}

.section-jumbotron-left {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 500;
}

.section-jumbotron-right {
  font-size: 2rem;
  color: #fff;
  position: relative;
}

/* contact us  */

.contact-us__img {
  border-radius: 2px;
  width: 96%;
  height: 65rem;
}

.contact-us__right {
  position: relative;
}

.contact-us__right-before {
  position: absolute;
  background: var(--social-medial-title-color);
  width: 100%;
  height: 73%;
  z-index: -333;
  left: -15rem;
  top: 24rem;
}
.contact-us__left {
  width: 70%;
}
.contact-us__left-title {
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--social-medial-title-color);
}

.contact-us__left-sub-title {
  font-size: 2.5rem;
  color: #5e657f;
  margin: 3rem 0;
}

input:focus {
  box-shadow: none;
  border: none;
}

input::placeholder {
  font-size: 1.5rem;
}

.form-control {
  padding: 2rem 0.75rem;
  font-size: 1.5rem;
}

.textarea {
  resize: none;
}
.btn-green {
  margin-top: 5rem;
  background: green;
  padding: 0.5rem 4.5rem;
  color: white;
}
.btn-green:hover {
  color: white;
}
/* Footer Section */

.footer {
  margin-top: 5rem;
  background: var(--social-medial-title-color);
}
.footer-nav-title {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}
.footer-nav-title::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 0.2rem;
  top: 2.5rem;
  left: 1.4rem;
  z-index: 1;
  background-color: white;
}
.footer-nav-link {
  color: white;
  padding-left: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}

.footer-nav-link__right--padding {
  padding-right: 10rem;
}
.footer-copyright__text {
  font-size: 1.2rem;
  text-align: end;
  padding-right: 5rem;
}

.footer-nav-link:hover {
  color: white;
}
.footer-social__icons {
  margin-left: 9rem;
}

.footer-social__link:not(:last-child) {
  padding-right: 1rem;
}
.footer-social__link:hover {
  text-decoration: none;
}
.footer-social__link i {
  font-size: 2.5rem;
  background: white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 1rem;
  transition: all 0.2s;
  color: #162f58;
}

i.fb:hover {
  background-color: #3b5998;
  color: #fff;
}

i.linkedin:hover {
  background: #0077b5;
  color: #fff;
}

i.twitter:hover {
  background: #00acee;
  color: #fff;
}

i.instagram:hover {
  background: #dd2a7b;
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: #fff;
  border-color: transparent !important;
  outline: none;
  font-size: 4rem;
}


.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}